footer .footer-toolbar{color: #fff;}
footer .footer-toolbar .dis-table.table1{height: 60px;border-spacing: 0px;}
footer .footer-toolbar .dis-table.table1 a{width: 50%;text-align: center;padding:0px 5px;}
footer .footer-toolbar .dis-table.table1 a:nth-child(1){background-color: #22cdbd;font-size: 18px;}
footer .footer-toolbar .dis-table.table1 a:nth-child(2){background-color: #20a4cd;font-size: 13px;}